{% extends 'base.html'  %}

{% block content %}

<!-- Shows pet info and edit header/form if pet exists  -->
{% if pet %}
<div>
<h2>Pet name: {{pet.name}}</h2>
<h2>Species: {{pet.species}}</h2>
<img src="{{pet.URL}}">
<h2>Age: {{pet.age}}</h2>
</div>
<h1>Edit pet</h1>
<!-- If pet doesn't exist, only show add header/form -->
{% else %}
<h1>Add pet</h1>
{% endif %}

<form method="POST">
  {{ form.hidden_tag() }}
{% for field in form if field.widget.input_type != 'hidden'%}
<p>
  {{field.label}}
  {{field}}

  {% for error in field.errors %}
  {{ error }}
{% endfor %}

</p>
{% endfor %}

<button type="submit">Submit</button>
<a href="/">Back to home page</a>

</form>



{% endblock %}