{% extends 'base.html'  %}

{% block title %}Post{% endblock %}

{% block content %}
<script>
    function edit(){
      window.location.href = "/posts/{{post.id}}/edit"
    }

  </script>
<h1>Title: {{post.title}}</h1>
<p>Content: {{post.content}}</p>
<p>First name: {{author.first_name}}</p> 
<p>Last name: {{author.last_name}}</p>
<p>Tags: 
  {% for tag in post.tags %}
{{tag.name}}
  {% endfor %}
</p>

<form method="POST" action="/posts/{{post.id}}/delete">
    <button type="button" onclick="edit()">Edit</button>  
    <button type="submit">Delete</button>
  </form>

  <a href="/tags/new" class="btn btn-info">Add tag</a>

  <a href="/users/{{post.user_id}}">Go back to user</a>

{% endblock %}